.card {
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;

    & .card-title {
        padding: 0 16px;
        line-height: 40px;
    }

    & .category {
        display: flex;
        flex: 1;
        padding: 0 16px;
    }

    & .card-image {
        width: 100%;
        background-color: #CCCCCC;
    }

    & .card-image img {
        display: block;
        width: 100%;
    }

    & .card-content {
        padding: 16px;
        line-height: 18px;
        font-size: 14px;
    }

    & .card-actions {
        display: flex;
        gap: 16px;
        padding: 16px;
    }

    & .card-actions button {
        flex: 1;
        height: 40px;
        padding: 0 16px;
        border: 0;
        border-radius: 5px;
        color: #fff;
        background-color: blueviolet;
        transition: 0.5s ease-in-out;
        cursor: pointer;
    }

    & .card-actions button:hover {
        background-color: rgb(113, 31, 189);
    }
}